#eval { margin: 15px 0;  }
#input { font-family: monospace; }
#output small { font-size: 70%; color: #900; }
#output pre { font-size: 17px; margin: 0 } 

.box {
	padding: 10px 15px;
	border-left: 3px solid;
	border-right: 3px solid; }
.box.normal { 
	background: #fefbed;
	border-color: #f1e7bc; }
.box.red { 
	background: #fdf1ef;
	border-color: #dd4b39; }


